<h1><%= @user.username %>`s profile</h1>

<h1>
    <%= button_to 'Logout', logout_path, class: "btn btn-outline-secondary", method: :delete %>
</h1>

<%= link_to "Create New Article", new_article_path %>
<br>
<br>
<%= link_to "Article List", articles_path %>
<br>
<br>
<%= link_to "About", about_path %>
<br>
<br>
<%= link_to "Home", root_path %>