<h1>Welcome to my blog</h1>

<% if !logged_in? %>
  <%= link_to "Sign up", signup_path %>
  <br>
  <br>
  <%= link_to "Login", login_path %>
<% end %>
<br>
<br>
<% if logged_in? %>
  <%= link_to "Create New Article", new_article_path %>
<% end %>
<br>
<br>
<%= link_to "Article List", articles_path %>
<br>
<br>
<%= link_to "About", about_path %>
